<h1>Registration new account in <span>"Critical bank"!</span></h1>
<p>
  Hi
  {{email}}, you successful register new account in "Critical bank". See new recommendations and
  goodby!
</p>
<p>If you did not request this email you can safely ignore it.</p>
<p>Registration time {{time}}</p>