DB_NAME=critical_bank_db
DB_HOST=localhost
DB_USERNAME=admin
DB_PASSWORD=1234
DB_PORT=5432
KAFKA_BROKERS_ARRAY=localhost:9092
PK_ENCRYPT_KEY=8LplH6Nemc913DOMLr9W/B63i8WMSoQkPKQtEXs1SZw= # only base64 key encoding
GRPC_URL=localhost:3006
