PORT=5050

REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=

LOKI_ENDPOINT=http://localhost:7100

KAFKA_BROKERS_ARRAY=localhost:9092

ACCESS_SECRET_KEY=''
ACCESS_EXPIRATION_TIME=20m
REFRESH_SECRET_KEY=''
REFRESH_EXPIRATION_TIME=10d
REFRESH_TOKEN_ENCRYPT_KEY='00000000000000000000000000000000' // only base58 encoding and 32 bytes
ACCESS_TOKEN_ENCRYPT_KEY='00000000000000000000000000000000' // only base58 encoding and 32 bytes

AUTH_REDIS_HOST=localhost
AUTH_REDIS_PORT=6379
REFRESH_TOKENS_CACHE_TTL=120000

LOKI_URL=http://critical-loki:3100
LOKI_JOB_NAME=apigateway