DB_HOST=localhost
#DB_HOST=critical-db-host
DB_PORT=5432
DB_USERNAME=kirill
DB_PASSWORD=kirill2008
DB_NAME=critical_bank_db

REDIS_PORT=6379
REDIS_HOST=localhost
#REDIS_HOST=critical-redis
REDIS_PASSWORD=

#LOKI_ENDPOINT=http://critical-loki:3100
LOKI_ENDPOINT=http://localhost:7100

KAFKA_BROKERS_ARRAY=localhost:9092,localhost:9092

PORT=3000
AUTH_CODE_LENGTH=10